<div class='cat'>
    <h1>{{ name }}</h1>
    <br> {{ price }} {{ inventory }}
    <br> <a href="/products/{{id}}/edit" type=button>Edit</a>
</div>
<div class='new'>
<form method="post" action="/products/{{id}}?_method=DELETE">
    <button class='button' type='submit'>Delete</button>
</form>
</div>

<br> {{> footer}}